{% extends app.request.isXmlHttpRequest() ? "DrinkWithMainBundle::layout.ajax.twig" : "DrinkWithMainBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
<!--
    #subheader{
        display: none;
    }
-->
</style>
{% endblock %}

{% block content %}
    <div id="register">
        <div class="title">drink-with.me</div>
        <div class="subTitle">{{ "registration.register.subscribe"|trans|raw }}</div>
        <form class="user-form join-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"    >
            <ul>
                <li>
                    <div class="text-box">
                    {{ form_widget(form.username, { 'attr': {'placeholder': "registration.register.username"|trans({"%link" : path('fos_user_security_login')})|title} }) }}
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        {{ form_widget(form.email, { 'attr': {'placeholder': "registration.register.email"|trans|title} }) }}
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': "registration.register.password.first"|trans|title} }) }}
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': "registration.register.password.second"|trans|title} }) }}
                    </div>
                </li>
                <li>
                    <p>
                        {{ "registration.register.terms-and-policy"|trans({"%link%" : path('_terms')})|raw }}
                    </p>
                </li>
                <li>
                   {{ form_widget(form) }}
                    <div class="text-box">
                        <input type="submit" name="submit" value="{{ "registration.register.submit"|trans|title }}"/>
                    </div>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
