{% extends "DrinkWithMainBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
<!--
    #subheader{
        display: none;
    }
-->
</style>
{% endblock %}

{% block content %}
<h1>{{ "profile.edit.title"|trans }}</h1>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <ul>
        <li>
            <div class="text-box">
                   {{ 'form.username'|trans({}, "FOSUserBundle") }} {{ form_widget(form.username, { 'attr': {'placeholder': 'profile.show.username'|trans({}, "FOSUserBundle")} }) }}
            </div>
        </li>
        <li>
            <div class="text-box">
                {{ 'form.email'|trans({}, "FOSUserBundle") }} {{ form_widget(form.email, { 'attr': {'placeholder': 'profile.show.email'} }) }}
            </div>
        </li>
        <li>
            <div class="text-box">
                {{ "form.current_password"|trans({}, "FOSUserBundle") }}  {{ form_widget(form.current_password, { 'attr': {'placeholder': "form.current_password"|trans({}, "FOSUserBundle")|replace({":" : ""})} }) }}
            </div>
        </li>
        <li>
            {{ form_widget(form) }}
             <input type="submit" value="{{ "profile.edit.submit"|trans({}, "FOSUserBundle") }}" />
        </li>
    </ul>
</form>
{% endblock %}
