<!DOCTYPE html>
<html>
    <head>
        {% block meta %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}

        {% block stylesheets %}

        {% stylesheets filter="compass"
            "@DrinkWithMainBundle/Resources/assets/scss/clear.scss"
            "@DrinkWithMainBundle/Resources/assets/scss/main.scss"
            "@DrinkWithUserBundle/Resources/assets/scss/user.scss"
            "@DrinkWithMainBundle/Resources/assets/scss/bar.scss"
            %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% endblock %}

        {% block headJavascripts %}

        <script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="/js/jquery.tools.min.js" /></script>

        {% javascripts
            "@DrinkWithMainBundle/Resources/assets/js/functions.js"
            "@DrinkWithMainBundle/Resources/assets/js/main.js"
            %}<script type="text/javascript" src="{{ asset_url }}" /></script>
        {% endjavascripts %}

        {% endblock %}

        <title>{% block title %}Drink With{% endblock %}</title>
    </head>
    <body>
        <header id="topHeader">
            <div id="logo"><a href="{{ path("_home") }}">Drink-With.me</a></div>
            <nav id="navHeader">
                <ul>
                    <li><a href="{{ path("_home") }}">{{ "navigation.home"|trans }}</a></li>
                </ul>
            </nav>
            <div id="connect">
                {% render "DrinkWithUserBundle:Default:menu" %}
            </div>
        </header>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        <div id="overlay">
            <div id="overlayContent"></div>
        </div>
        <footer id="bottomFooter">
            <div id="copyrights">
                 <div class="copyDate">&copy;{{ "now"|date("Y") }}</div>
                 <div class="urlLink" ref="{{ path("_home") }}">drink-with.me</div>
            </div>
            <div id="socialLinks">
                 <div class="fbLink urlLink" title="{{ "facebook"|title }}" rel="https://www.facebook.com/"></div>
                 <div class="twitterLink urlLink" title="{{ "twitter"|title }}" rel="http://www.twitter.com/"></div>
                 <div class="gplusLink urlLink" title="{{ "google +"|title }}" rel="http://www.twitter.com/"></div>
                 <div class="contactLink urlLink" title="{{ "contact.us"|trans| title }}" rel="{{ path("_contact") }}"></div>
            </div>
        </footer>
    </body>
</html>