<!DOCTYPE html>
<html>
    <head>
        {% block meta %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}

        {% block stylesheets %}

        {% stylesheets filter="compass"
            "@DrinkWithMainBundle/Resources/assets/scss/clear.scss"
            "@DrinkWithMainBundle/Resources/assets/scss/main.scss"
            "@DrinkWithUserBundle/Resources/assets/scss/user.scss"
            %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> -->
        {% endblock %}

        {% block headJavascripts %}

        <script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="/js/jquery.tools.min.js" /></script>

        {% javascripts
            "@DrinkWithMainBundle/Resources/assets/js/main.js"
            %}<script type="text/javascript" src="{{ asset_url }}" /></script>
        {% endjavascripts %}

        {% endblock %}

        <title>{% block title %}Drink With{% endblock %}</title>
    </head>
    <body>
        <header id="topHeader">
            <div id="logo"><a href="{{ path("_home") }}">Drink-With.me</a></div>
            <nav id="navHeader">
                <ul>
                    <li><a href="{{ path("_home") }}">{{ "navigation.home"|trans }}</a></li>
                </ul>
            </nav>
            <div id="connect">
                {% render "DrinkWithUserBundle:Default:menu" %}
            </div>
        </header>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        <div id="overlay">
            <div id="overlayContent"></div>
        </div>
        <footer id="bottomFooter">
            <div id="copyrights">
             &copy;{{ "now"|date("Y") }} <a href="">drink-with.me</a> - <a href="{{ path("_home") }}">{{ 'contact.us'|trans }}</a>
            </div>
        </footer>
    </body>
</html>